.info-text {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-first {
  position: relative;
  border-radius: 16px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  margin-left: 10px;
}

.left-second {
  margin-top: 16px;
  position: relative;
  border-radius: 16px;
  border: 1px solid #ebeef5;
  background-color: #ffffff;
  margin-left: 10px;
  color: #303133;
}

.right {
  width: 68%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ebeef5;
  margin-left: 10px;
  font-size: 16px;
}

.table {
  width: 90%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid rgb(185, 177, 177);
  padding: 10px;
}

.table-header {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

#color-blue {
  color: dodgerblue;
}

.custom-color {
  color: dodgerblue; /* Change to the desired color */
}

.left-first-header {
  position: relative;
  height: 300px;
}

.left-first-header > img {
  left: 0;
  right: 200%;
  width: 100%;
  height: 400px;
}

.left-first-body {
  margin-top: 200px;
  height: 200px;
}

.left-first-body .info-item {
  margin-top: 8px;
  font-size: 18px;
}

.avatar {
  position: absolute;
  top: 300px;
  left: 18px;
}

.avatar > img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.personal-info, .family-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
}

.personal-info div, .family-info div {
  margin-top: 1px;
  font-size: 16px;
}

.section-heading {
  font-weight: bold;
  font-size: 20px;
}

.family-names, .family-name, .family-namess {
  font-weight: bold;
  font-size: 16px;
}

.family-info {
  margin-top: 0px;
  font-size: 0px;
}

.family-info .item {
  margin-top: 0px;
}

.family-info .item p {
  margin: 0;
}

.family-info p.family-name {
  margin-right: 70px;
}

.family-info .ethnicity,
.family-info .workplace,
.family-info .address,
.family-info .contact,
.family-info .policy,
.family-info .birthdate,
.family-info .religion,
.family-info .nationality,
.family-info .occupation {
  font-weight: bold;
  color: #303133;
}
.tab {
  display: flex;
  margin-top: 20px;
}

.tab-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
